# create a series for your 5 favourite movies with custom indexes(movie1,movie2)

In [1]:
import pandas as pd

In [5]:
movies=pd.Series(["harry potter" , "peacemaker","jab we met" , "itaeown classes","taxi driver"],index=["movie1","movie2","movie3","movie4","movie5"])

In [26]:
print("\nMY FAVOURITE MOVIE AND K-DRAMAS\n")
print(movies)

MY FAVOURITE MOVIE AND K-DRAMAS

movie1       harry potter
movie2         peacemaker
movie3         jab we met
movie4    itaeown classes
movie5        taxi driver
dtype: object

# build a data frame with 3 columns : name, department, salary. try accesing only salary column

In [17]:
data={"NAME": ["NARAYAN","LAKSHYA","SHRADHA"],
        "DEPARTMENT":["IT","CYBERSECURITY","MARKETING"],
        "SALARY":[90000,80000,70000]
                }

In [24]:
office=pd.DataFrame(data)

      NAME     DEPARTMENT  SALARY
0  NARAYAN             IT   90000
1  LAKSHYA  CYBERSECURITY   80000
2  SHRADHA      MARKETING   70000

In [25]:
print("\n PROFESSIONAL OFFICE DETAILS \n")
print(office)

 PROFESSIONAL OFFICE DETAILS

      NAME     DEPARTMENT  SALARY
0  NARAYAN             IT   90000
1  LAKSHYA  CYBERSECURITY   80000
2  SHRADHA      MARKETING   70000

In [21]:
print(office["SALARY"])

0    90000
1    80000
2    70000
Name: SALARY, dtype: int64

# load the iris dataset and print the first 10 rows.

In [22]:
df=pd.read_csv("Iris.csv")

In [23]:
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa